@import "../../styles/colors.scss";

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color-two;
  padding: 2em;
  gap: 2em;

  p {
    font-size: 1.5rem;
    color: $white;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .icons {
    display: flex;
    gap: 1em;
    color: $white;

    .icon {
      &:hover {
        color: $color-one-hover;
        cursor: pointer;
      }
    }
  }
}
